
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>MOMAND ENTERPRISES</title>

    <link href="~/Theme/css/bootstrap.min.css" rel="stylesheet">

    
    <link href="~/Theme/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="~/Theme/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
   
    <link href="~/css/custom/_Layout.css" rel="stylesheet" />


    <!-- Datatable css -->
    <link href="~/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet" />
    <link href="~/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet" />
    <link href="~/css/plugins/dataTables/fixedHeader.dataTables.css" rel="stylesheet" />

    <link href="~/Theme/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

    <!-- Mainly scripts -->
    <script src="~/Theme/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Theme/js/bootstrap.min.js"></script>

   


    <script src="~/Theme/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Theme/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <link href="~/Theme/css/plugins/jQueryUI/jquery-ui.css" rel="stylesheet" />
    <!-- Flot -->
    <script src="~/Theme/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/Theme/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/Theme/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="~/Theme/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/Theme/js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="~/Theme/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/Theme/js/demo/peity-demo.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Theme/js/inspinia.js"></script>
    <script src="~/Theme/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Theme/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="~/Theme/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- Sparkline -->
    <script src="~/Theme/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="~/Theme/js/demo/sparkline-demo.js"></script>

    <!-- ChartJS-->
    <script src="~/Theme/js/plugins/chartJs/Chart.min.js"></script>

    <!-- Toastr -->
    @*<script src="~/Theme/js/plugins/toastr/toastr.min.js"></script>*@


    <script src="~/Theme/js/plugins/fullcalendar/moment.min.js"></script>


    <!-- Datatable js -->
    <script src="~/Theme/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/Theme/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="~/Theme/js/plugins/dataTables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Theme/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="~/Theme/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    <script src="~/Theme/js/plugins/dataTables/jquery.dataTables.js"></script>
    @*<script src="~/Theme/js/plugins/datapicker/bootstrap-datepicker.js"></script>*@

    <script src="~/Theme/js/plugins/sweetalert/sweetalert.min.js"></script>

    <link href="~/Theme/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Theme/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.2.6/jquery.inputmask.bundle.min.js"></script>

    @*<link href="~/Theme/css/plugins/Datetimepickerv3/bootstrap-datetimepicker.css" rel="stylesheet" />*@
    <link href="~/Theme/css/plugins/Datetimepickerv3/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Theme/js/plugins/Datetimepickerv3/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/custom/DownloadFile.js"></script>

    <script src="~/Scripts/custom/GenericLib.js"></script>





    <!-- Menu CSS -->
    <link href="~/Content/AmpleAdmin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="~/Content/AmpleAdmin/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="~/Content/AmpleAdmin/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="~/Content/AmpleAdmin/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/Content/AmpleAdmin/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/Content/AmpleAdmin/html/css/animate.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/AmpleAdmin/html/css/style.css" rel="stylesheet" />
    <!-- color CSS -->
    <link href="~/Content/AmpleAdmin/html/css/colors/default.css" rel="stylesheet" />
    @*font awsom*@
    <link href="~/Content/AmpleAdmin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Toastr style -->

    <script src="~/Content/AmpleAdmin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Content/AmpleAdmin/html/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/AmpleAdmin/html/js/waves.js"></script>
    <!--Counter js -->
    <script src="~/Content/AmpleAdmin/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/Content/AmpleAdmin/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- chartist chart -->
    <script src="~/Content/AmpleAdmin/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="~/Content/AmpleAdmin/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="~/Content/AmpleAdmin/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Content/AmpleAdmin/html/js/custom.min.js"></script>
    <script src="~/Content/AmpleAdmin/html/js/adminaple.js"></script>
    <script src="~/Content/AmpleAdmin/plugins/bower_components/toast-master/js/jquery.toast.js"></script>



</head>


<body class="fix-header">
    @*//wrapper*@
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="/Sales/Index">
                        <!-- Logo icon image, you can use font-icon also -->
                        <b>
                            <!--This is dark logo icon-->
                            <img src="~/Content/AmpleAdmin/plugins/images/admin-logo-dark.jpeg" style="height:59px; margin-left:70px;" alt="home" class="dark-logo" />
                        </b>
                        <!-- Logo text image you can use text also -->
                        <span class="hidden-xs">
                            <!--This is dark logo text-->
                            <img src="~/Content/AmpleAdmin/plugins/images/admin-text.png" alt="home" class="dark-logo" />
                            <!--This is light logo text-->
                            <img src="~/Content/AmpleAdmin/plugins/images/admin-logo-dark.jpeg" style="height:59px; margin-left:70px;" alt="home" class="light-logo" />
                        </span>
                    </a>
                </div>
                <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="btn btn-primary UserName_" style="margin-top: 8%;">
                    </li>
                    <li>
                        <a class="profile-pic warning" href="/Admin/Logout"> <img src="~/Content/AmpleAdmin/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Logout</b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="dashboard.html" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="/Item/Index" class="waves-effect"><i class="fa fa-product-hunt" aria-hidden="true"></i>&nbsp; Products</a>
                    </li>
                    <li>
                        <a href="/Vendor/Index" class="waves-effect"><i class="fa fa-book fa-fw" aria-hidden="true"></i>Vendor</a>
                    </li>
                    <li>
                        <a href="/Customer/Index" class="waves-effect"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Customers</a>
                    </li>
                    <li>
                        <a href="/Purchase/Index" class="waves-effect"><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Purchases</a>
                    </li>
                    <li>
                        <a href="/Sales/Index" class="waves-effect"><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Sales</a>
                    </li>
                    <li>
                        <a href="/InventoryManagement/Index" class="waves-effect"><i class="fa fa-product-hunt fa-fw" aria-hidden="true"></i>Inventory</a>
                    </li>

                    <li>
                        <a href="/CreditSales/Index" class="waves-effect"><i class="fa fa-cash fa-fw" aria-hidden="true"></i>Customers Payments</a>
                    </li>

                    <li>
                        <a href="/CreditPurchase/Index" class="waves-effect"><i class="fa fa-product-hunt fa-fw" aria-hidden="true"></i>Vendor Payments</a>
                    </li>

                    <li>
                        <a href="#" class="waves-effect"><i class="fa fa-clipboard fa-fw"></i> <span class="hide-menu">Reports<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li class="hidden"><a href="/InventoryManagement/Index"><span class="hide-menu">Inventory Report</span></a></li>
                            @*<li><a href="/Reports/DailySalesReport"><span class="hide-menu">Product Wise Sale Report</span></a></li>*@
                            <li><a href="/Report/PurchaseList/"><span class="hide-menu">Purchase Report</span></a></li>
                            <li class="hidden"><a href="/Report/TrialBalance/"><span class="hide-menu">Trial Balance</span></a></li>
                            <li><a href="/Report/IncomeStatement/"><span class="hide-menu">Income Statement</span></a></li>
                            <li><a href="/Report/SalesPerson/"><span class="hide-menu">Sale Persons Report</span></a></li>
                            <li><a href="/Report/CustomerReports/"><span class="hide-menu">Customers Report</span></a></li>
                            <li><a href="/DailyCashFlow/Index"><span class="hide-menu">Daily Cashflow</span></a></li>
                            @*<li><a href="/Reports/TraiBalance"><span class="hide-menu">Trail Balance</span></a></li>*@
                            <li><a href="/Reports/IncomeStatment"><span class="hide-menu">Income Statment</span></a></li>
                            <li><a href="/Reports/BalanceSheet"><span class="hide-menu">Balance Sheet</span></a></li>
                            <li><a href="/Report/AccountsPayable/"><span class="hide-menu">Accounts Payable</span></a></li>
                            <li><a href="/Report/AccountsReceivable/"><span class="hide-menu">Accounts Receivable</span></a></li>
                            <li><a href="/Report/PaymentVoucherList/"><span class="hide-menu">Payments Voucher</span></a></li>
                            <li><a href="/ReportBankStatement/Index"><span class="hide-menu">Bank Statement</span></a></li>
                            <li class="hidden"><a href="/Report/WeeklyCashFlow">Weekly CashFlow</a></li>
                            <li class="hidden"><a href="/CashFlowReport/Index/">Cash Flow</a></li>
                            <li class="hidden"><a href="/SubscriptionReport/Index">Subscriptions</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="body">
                    @RenderBody();
                </div>
                
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> &copy; @DateTime.Now.Year - New Quality Catering Service </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <input id="InpHAllowEditDate" type="hidden" value="@Config.AllowEditDate.ToString()" />
    <script>

         @{
             var oldType = Html.ViewContext.HttpContext.Response.ContentType;
         }

        var UserInfo=  @Html.Action("GetGlobalUserInfo", "PermissionAPI");

        @{
        Html.ViewContext.HttpContext.Response.ContentType = oldType;
          }
        $('.UserName_').text(UserInfo.userId);

        $('.date').datepicker({format: 'yyyy-mm-dd',clearBtn:true});
        $('input.datetimepker').datetimepicker({ format: 'YYYY-MM-DD hh:mm:ss A', ignoreReadonly: true });
        $(document).on("click",".datetimepker .input-group-addon",function(){
            $(this).closest(".datetimepker").find("input").focus();
        });

        $(document).on("click",".datetimepkerClone .input-group-addon",function(){
            $(this).closest(".datetimepkerClone").find("input").focus();
        });



        $(".CurrencyFormatting").inputmask('currency', { rightAlign: true, prefix: '', autoGroup: false });
        $(".CurrencyFormattingwithouminus").inputmask('currency', { rightAlign: true, prefix: '', autoGroup: false ,allowMinus: false });



        $('.StopPasting').bind("paste",function(e) {
            e.preventDefault();
        });

        if($("#InpHAllowEditDate").val().toLowerCase()!="true"){
            //InpHAllowEditDate Will Get Value from Config to determine if date edit should be possible or not
            $(".linkToDatePermission").attr("disabled","disabled");
        }


    </script>
</body>
</html>