

<div class="container" style="margin-top:20px">
    <h3>Income Statement</h3>
    <div>

        <div class="row">
            <div class="col-sm-1 text-right">
                <label>Start</label>
            </div>
            <div class="col-sm-3">
                
                <div class="input-group date " data-provide="datepicker">
                    <input type="text" id="dtp_incomestatement_MainStartDate" class="form-control" readonly>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 text-right">
                <label>End</label>
            </div>
            <div class="col-sm-3">
                
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" id="dtp_incomestatement_MainEndDate" class="form-control" readonly>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-3">
                <input type="button" class="btn btn-success" id="btn_IncomeStatement_View" value="VIEW" />
                <input type="button" class="btn btn-success" id="btn_IncomeStatement_Search" value="DOWNLOAD" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" >
                <iframe id="ReportPreview" src="" style="height:75vh;width:100%" frameborder="0"></iframe>
            </div>
        </div>

    </div>
</div>


<script src="~/Scripts/custom/Report.js"></script>
<script src="~/Theme/js/plugins/toastr/toastr.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        ReportsTrigger();
        $("#dtp_incomestatement_MainStartDate").val(moment().subtract('days', 30).format('YYYY-MM-DD'));
        $("#dtp_incomestatement_MainEndDate").val(moment().format('YYYY-MM-DD'));
    });
</script>
