
@{
    ViewBag.Title = "CashFlowReport";
}

<h2>Cash Flow Report</h2>

<div class="row">
    <div class="col-sm-3">
        <label>Date Start</label>
        <div class="input-group date " data-provide="datepicker">
            <input type="text" id="dtp_cashflow_MainStartDate" class="form-control" readonly>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <label>Date End</label>
        <div class="input-group date" data-provide="datepicker">
            <input type="text" id="dtp_cashflow_MainEndDate" class="form-control" readonly>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <input type="button" class="btn btn-success" id="btn_cashflow_Search" value="Search" />
    </div>
</div>


<br />

<table id="tblCashflowInformation" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center success">InvoiceNo</th>
            <th class="text-center success">ActivityTime</th>
            <th class="text-center success">Transaction</th>
            <th class="text-center success">Debit</th>
            <th class="text-center success">Credit</th>


        </tr>
    </thead>
    <tbody class="tblactive"></tbody>

</table>

<script type="text/javascript" src="~/Scripts/custom/CashFlowReport.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        Trigger();
    });
</script>

