
@{
    ViewBag.Title = "Balance Sheet";
}
 <div class="container">
     <h2>Balance Sheet</h2>
 </div>
<div style="margin-top:80px">
 
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            @*<label class="col-sm-5">Start</label>
            <div class="input-group date " data-provide="datepicker">
                <input type="text" id="dtp_BalanceSheet_MainStartDate" class="form-control" readonly>
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>*@
        </div>
        <div class="col-sm-3">
            <label class="col-sm-5">Date</label>
            <div class="input-group date " data-provide="datepicker">
                <input type="text" id="dtp_BalanceSheet_MainEndDate" class="form-control" readonly>
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <input type="button" class="btn btn-success" id="btn_BalanceSheet_View" value="VIEW" />
            <input type="button" class="btn btn-success" id="btn_BalanceSheet_download" value="DOWNLOAD" />
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportPreview" src="" style="height:75vh;width:100%" frameborder="0"></iframe>
        </div>
    </div>

</div>


<script src="~/Scripts/custom/BalanceSheet.js"></script>
<script src="~/Scripts/custom/Report.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        //$("#dtp_BalanceSheet_MainStartDate").val(moment().subtract('days', 7).format('YYYY-MM-DD'));
        $("#dtp_BalanceSheet_MainEndDate").val(moment().format('YYYY-MM-DD'));
        BalanceSheetTrigger();
    });
</script>
