
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script src="~/Scripts/custom/helper.js"></script>
<script src="~/Scripts/custom/StockIn.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        StockInTrigger();
    })
</script>